* {

    margin: 0;
}

html {
    /* scroll-behavior: smooth; */
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#bloc-carte {
    display: block;
}

section {
    box-sizing: border-box;
    /* margin: 5px; */
    opacity: 0;
    transform: translateY(30px);
    /* Animation de bas en haut */
    transition: all 0.8s ease;
    /* background-color: #f1f5f4; */
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

section.carte_section {
    width: 100%;
    min-height: 90vh;
    padding: 10px 0px;
}

section.break_section {
    width: 100%;
    min-height: 50vh;
}

section.carte_header {
    font-family: 'Tangerine', 'Great Vibes';
    /* background-image: url('../images/couple-walking-through-vineyard.jpg'), linear-gradient(#ffffff, #0b3d2e); */
    /* background-image: url('../images/close-up-rose-isolated.jpg'), linear-gradient(#ffffff, #2b3d0b); */
    background-image: url('../images/close-up-rose-isolated.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
    position: relative;
    color: #ffffff;
    background-blend-mode: multiply;
    min-height: 100vh !important;
}


section.carte_header h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 40px;
    text-shadow: #000000 0px 10px 10px;
}

/* cs2 */
section.cs2 {
    font-family: 'Tangerine';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #0b3d2e;
    padding: 0px 30px;
    font-size: 2rem;
    font-weight: 700;
    /* background-position: bottom right; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* back */
    /* background-image: url('../images/purple-pink-petals-decoration-white-background.jpg'); */
    background-image: url('../images/purple-pink-petals-decoration-white-background.png');
    background-blend-mode: multiply;
}

section.cs2 img {
    width: 30%;
    margin-bottom: 10px;
}

section.cs2 p {
    text-align: center;
}

section.cs2 .nomInvite {
    font-weight: 600;
    color: #0b3d2e;
}



/* cs2 fin */

/* cb1 */
section.cb1 {
    background-image: url('../images/groom-puts-wedding-ring-bride-s-finger.jpg'), linear-gradient(#ffffff, #000000);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
}

section.cb1 .event-location {
    display: flex;
    align-items: center;
}

section.cb1 img {
    filter: invert(100%);
    height: 40px;
    width: auto;
}

section.cb1 a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3rem;
}

section.cb1 a:hover {
    color: #b9b9b9;
}

section.cb1 #confirm-presence {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
}

section.cb1 button {
    /* font-family: 'Tangerine'; */
    width: auto;
    padding: 10px;
    border: 1px solid #ffffff;
    background-color: #ffffff00;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 10px;
    font-weight: 700;
}

section.cb1 button:hover {
    transform: translateY(-2px);
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.4);
    color: #ffffff;
}

section.cb1 .infos-events {
    width: 65%;
    display: flex;
    margin: 10px 0px;
    font-size: 2rem;
}

section.cb1 .infos-events .ico {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* cb1 fin */

/* cs3 */
section.cs3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 150px 30px;
    position: relative;
    font-family: 'Tangerine';
    font-size: 2rem;
    /* background-image: url('../images/background.svg'); */
    /* background-size: cover; */
    /* background-blend-mode: difference; */
    overflow: hidden;
}

section.cs3 .img-deco {
    position: absolute;
    z-index: -1;
}


section.cs3 .img-deco.f1 {
    right: 0%;
    bottom: -50px;
    width: 200px;
    transform: rotate(50deg);
}

section.cs3 .img-deco.f2 {
    left: 0%;
    top: -50px;
    width: 200px;
    transform: rotate(-100deg);
}



section.cs3 img {
    position: absolute;
    width: 15%;
}

section.cs3 h1 {
    text-align: center;
    color: #0b3d2e;
    /* font-family: 'great vibes'; */
    font-size: 2.6rem;
    font-weight: 700;

}

.timeline {
    position: relative;
    padding: 20px 0;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    /* background: #FFD700; */
    background: #0b3d2e;
    transform: translateX(-50%);
}

.timeline-item {
    display: flex;
    margin: 30px 0;
    align-items: center;
    position: relative;
}

.timeline-item:nth-child(odd) {
    flex-direction: row-reverse;
}

.timeline-time {
    flex: 1;
    text-align: right;
    padding-right: 40px;
    font-weight: 700;
    color: #0b3d2e;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.timeline-time .ico {
    height: 90px;
    width: auto;
}

.timeline-item:nth-child(odd) .timeline-time {
    /* text-align: left; */
    justify-content: flex-start;
    padding-left: 40px;
    padding-right: 0;
}

.timeline-content {
    flex: 1;
    padding-left: 40px;
    font-size: 1.8rem;
    position: relative;
    /* color: #FFD700; */
    color: #0b3d2e;
}

.timeline-content span {
    position: relative;
    left: -40px;
    top: -30px;
}

.timeline-item:nth-child(odd) .timeline-content span {
    right: -40px;
    left: auto;
}

.timeline-content span::before {
    content: "";
    width: 70px;
    border-top: #0b3d2e 1px solid;
    float: left;
    margin-top: 15px;
}


.timeline-item:nth-child(odd) .timeline-content {
    padding-left: 0;
    padding-right: 40px;
    text-align: right;
}

.timeline-item:nth-child(odd) .timeline-content span::before {
    float: right;
}

.timeline-content::before {
    content: '';
    position: absolute;
    left: -5px;
    top: 50%;
    width: 10px;
    height: 10px;
    /* background: #FFD700; */
    background: #0b3d2e;
    border-radius: 50%;
    transform: translateY(-50%);
    /* box-shadow: 0 0 0 4px #0b3d2e, 0 0 0 6px #0b3d2e; */
}

.timeline-item:nth-child(odd) .timeline-content::before {
    left: auto;
    right: -5px;
}

/* cs3 fin */

/* cs4 */
section.cs4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    font-family: 'Tangerine', 'Great Vibes';
    background-color: #0b3d2e;
    background-image: url('../images/background.svg');
    background-size: cover;
    background-blend-mode: difference;
    background-repeat: no-repeat;
    overflow: hidden;
}

section.cs4 .menu-img {
    width: 50%;
    margin-bottom: 10px;
    filter: invert(100%);
}

section.cs4 .menu-floral {
    position: absolute;
    z-index: -1;
}

section.cs4 .menu-floral.f1 {
    right: -40%;
    bottom: 50%;
    width: 80%;
    transform: rotate(90deg);
}

section.cs4 .menu-floral.f2 {
    left: -40%;
    top: 50%;
    width: 80%;
    transform: rotate(-90deg);
}


/* Titre */
section.cs4 h1 {
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 30px;
    text-align: center;
}

/* Menu */
.menu-wrapper {
    width: 100%;
    /* max-width: 800px; */
    margin-bottom: 40px;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: top;
    flex-direction: column;
}

.menu-wrapper>div {
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 1.8rem;
}

.menu-wrapper>div p {
    color: #c9cc00;
    font-size: 3rem;
    font-weight: 700;
}

.menu-wrapper>div img {
    height: 100px;
    filter: invert(100%);
}

.menu-wrapper>div .menu_plats {
    text-align: center;
}

/* cs4 fin */


/* Section Invitation */
section.cs5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Tangerine', 'Great Vibes';
}

section.cs5 div {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.cs5 h1 {
    color: #0b3d2e;
    font-size: 3rem;
}

.table-info {
    margin-top: 20px;
}

.table-number {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px !important;
    height: 60px;
    border-radius: 50%;
    background-color: #0b3d2e;
}

.plan-salle img {
    width: 50%;
    border-radius: 10px;
    margin-top: 10px;
}

/* Section Google Maps */
.maps {
    padding: 30px;
    text-align: center;
}

.maps h2 {
    color: #2c3e50;
    margin-bottom: 15px;
}

/* cs6 */

section.cs6 {
    background-image: url('../images/top-view-flowers-with-copy-space.jpg');
    background-size: cover;
    position: relative;
    min-height: 90vh !important;
}

section.cs6 .thanks-box {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

section.cs6 .thanks-box h1 {
    font-family: 'Great Vibes';
    font-size: 25vw;
    color: rgb(70, 70, 70);
}

section.cs6 .thanks-box p {
    font-family: 'Tangerine', 'Great Vibes';
    font-size: 8vh;
    color: rgb(70, 70, 70);
    text-align: center;
}

/* cs6 fin */



@media (min-width:640px) {
    #bloc-carte {
        margin: 0 auto;
    }

    section.carte_section {
        width: 100%;
        padding: 30px 150px;
        box-sizing: border-box;
    }

    /* cs2 */
    /* section.cs2 {
    } */

    section.cs2 img {
        width: 15%;
        margin-bottom: 10px;
    }

    /* cb1 */
    section.cb1 #confirm-presence {
        font-size: 1.5rem;
    }

    section.cb1 button:hover {
        transform: translateY(-2px);
        box-shadow: 0 7px 20px rgba(11, 61, 46, .4);
        color: #ffffff;
    }

    section.cb1 .infos-events {
        width: 60%;
        font-size: 4rem;
    }

    /* cb1 fin */

    /* cs3 */

    section.cs3 .img-deco.f1 {
        right: 0%;
        bottom: -50px;
        width: 300px;
        transform: rotate(50deg);
    }

    section.cs3 .img-deco.f2 {
        left: 0%;
        top: -50px;
        width: 300px;
        transform: rotate(-100deg);
    }

    .timeline-content span::before {
        width: 140px;
    }


    /* cs3 fin */

    /* cs4 */
    section.cs4 .menu-img {
        margin-bottom: 10px;
    }

    /* Menu */
    .menu-wrapper {
        flex-direction: row;
    }

    section.cs4 .menu-floral.f1 {
        right: -10%;
        bottom: -5%;
        width: 40%;
        transform: rotate(0deg);
    }

    section.cs4 .menu-floral.f2 {
        left: -10%;
        top: -5%;
        width: 40%;
        transform: rotate(-180deg);
    }
}

*/
/* cs6 */

section.cs6 .thanks-box {
    top: 25%;
    left: 20%;
}

section.cs6 .thanks-box h1 {
    font-family: 'Great Vibes';
    font-size: 35vw;
    color: rgb(70, 70, 70);
}

/* cs6 fin */

